body{
    margin: 0 1em;
}

td { text-align: center; }

.button a { color: #fff; }

.member { border: 1px solid red; padding: 10px; background-color: #FA8072; }

.sessionMember { border: 1px solid red; position: absolute; top: 0; right: 0; padding: 10px; background-color: #FA8072; }